---
---

@import "{{ site.theme }}";

$olive: #87A96B;

.special-description {
  background-color: rgba($olive, 0.1);
  padding: 5px;
  margin-top: 5px;
  border: 1px solid rgba($olive, 0.28);
  border-radius: 3px;
}

.special-description p {
  margin-bottom: 0;
}

.venue-award {
  font-style: normal;
  font-weight: bold;
  color: $olive;
  text-decoration: none;
}

.venue-award:hover {
  text-decoration: underline;
}